name: Daily Scraper

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: spotify-album.py
      - run: spotify-artist.py
      - run: spotify-radio.py
      - run: spotify-song.py
      - run: playlist-scrap.py
